html, button, input, select, textarea {
	
}
body {
	font-size: 1em;
	line-height: 1.4;
}

html, body {
	height: 100%;
	font-size: 16px;
}


.smoothScroll{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font color: #000;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.navbar-default .navbar-nav > li > a {
  color: #AAA;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(255, 255, 255, 0.91);
  background-color: #091423;
  
  
}
.navbar-default {
	background-color: #072542;
	opacity: 0.9;
	padding: 5px 0;
	box-shadow: 0px 0px 30px black;
	font-weight: 500;
}
.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: transparent;

}
.navbar-brand .fa {
	color: #38b5c9;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #4ABCC5;	
}
.modal-dialog{
	overflow-y: initial;
	max-height:85%;
	margin-top: 100px;
	margin-bottom:50px;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	color: #555;
}
h2 {
	font-size: 34px;
	color: #666;
	font-weight: 500;
}
h3 {
	font-size: 24px;
	font-weight: 500;
}
/* Paragraph & Typographic */
p {
	line-height: 26px;
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none;
	font-family: "Monaco";
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}
a {
	color: #134347;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #c0392b;
	text-decoration: none;
	outline: 0;
}

a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

.social{
	margin-left: 80px;
}

.home_contain{
	width: 100%;
	height: 90%;
	position: absolute;
	top: 10%;
	z-index: 0;
}

.video{
	width: 100%;
	height: 120%;
	position: relative;
	left: 0;
	
}

#galleryContainer {
  width: 100%;
  height: 80%;        /* Image height + 200px */
  top: 0%;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
  overflow: hidden;
}


/*
  The gallery div that contains all the images

  We'll set the width dynamically in the JavaScript as the images load
*/

#gallery {
  width: 400px;
  height: 700px;        /* Image height + 100px */
  padding: 50px 0;
  position: absolute;
  z-index: 1;
}


/*
  Individual slides within the gallery:

  Float them left so that they're all side by side
  Fixed height (the width will vary as required)
  Add some horizontal margin between the slides
  Add a bottom fading reflection for WebKit browsers
*/

#gallery img {
  float: left;
  margin: 100px 400px;      /* Adjust the left/right margin to show greater or fewer slides at once */
  
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(1, rgba(255, 255, 255, .5)),
      color-stop(.8, rgba(255, 255, 255, 0))
    );
}


/*
  Left and right buttons:

  Position them on the left and right sides of the gallery
  Stretch them to the height of the gallery
  Hide them by default
*/

.outer{
  position: absolute;
  left: 40%;
  top: 85%;
  right: 40%;
  z-index: 100;
}

#outer-list{
  width: 16%;
}

.outer:li{
  display:inline-block;
  width: 400px;
  height: 40px;
  padding: 0 200px 0 0; 
  margin-right: 15px;  
}

.outer img{
  opacity: 0.5;
}

.outer img:hover{
  opacity: 1;
}

#leftButton, #rightButton {
  position: absolute;
  z-index: 2;
  top: -100px;
  bottom: 0;
  padding: 0;
  margin: auto 0;
  width: 15%;
  height: 600px;        /* Image height */
  border: none;
  outline: none;
  color: #fff;
  background: transparent url(images/blank.gif);
  font-size: 100px;
  font-family: "Courier New", courier, fixed;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

#leftButton {
  left: 0;
}

#rightButton {
  right: 0;
}

/* (Turn off dotted black outline on FF3) */

#leftButton::-moz-focus-inner, #rightButton::-moz-focus-inner {
  border: none;
}

/*
  Left and right button hover states:
  Fade them in to 50% opacity
*/

#leftButton:hover, #rightButton:hover {
  opacity: .5;
  filter: alpha(opacity=50);
  outline: none;
}


/*
  Image caption:

  Position just under the centre image
  Hide by default
*/



/*
  Loading text:

  Position in the centre of the gallery container
  Hide by default
*/



/*
  Tutorial info box:

  Position it in the bottom right corner of the window
  Give the 'i' h1 a circular border
  Hide the whole div by default
  Fade it in on hover 
*/

